@font-face {
  font-family: "RusticRoadway";
  src: local("RusticRoadway"), url("../../public/fonts/RusticRoadway.otf") format("opentype");
  font-weight: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.master-div {
  background-color: inherit;
  height: auto;
}

/*******************************************************/
.header {
  height: 55vh;
  background-image: url(../Assets/mainBanner1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

main {
  margin: 3rem;
  background-color: #f7f7f7;
}

.sec-main {
  color: #f7f7f7;
}
.sec-main__div {
  display: grid;
  place-content: center;
  padding-bottom: 1rem;
}
.sec-main__intro {
  text-align: center;
  padding-top: 2rem;
  color: #ae8337;
  font-size: 4.5rem;
  font-family: "RusticRoadway";
}
@media (max-width: 600px) {
  .sec-main__intro {
    font-size: 3.5rem;
  }
}
.sec-main__details {
  display: grid;
  justify-self: center;
  width: 50%;
  margin: 1rem 3rem;
  background-color: #061326;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (max-width: 600px) {
  .sec-main__details {
    width: 85%;
    padding: 1.2rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .sec-main__details {
    width: 80%;
    padding: 1.2rem;
  }
}
.sec-main__border {
  display: grid;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  border: 2px solid #ae8337;
}
.sec-main__goldText {
  display: inline-block;
  background-image: linear-gradient(to right, #f1c259, #b27e1d);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7rem;
}
@media (max-width: 600px) {
  .sec-main__goldText {
    font-size: 1.2rem;
  }
}
.sec-main__fullName {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 1rem;
}
@media (max-width: 600px) {
  .sec-main__fullName {
    font-size: 2rem;
  }
}
.sec-main__role {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 600px) {
  .sec-main__role {
    font-size: 1.5rem;
  }
}
.sec-main__hrGold {
  background: linear-gradient(to right, #f1c259, #b27e1d);
  height: 1px;
  border: 0;
  margin-bottom: 1rem;
}

.gap {
  margin-bottom: 1rem;
}

.sec-intro__div {
  display: grid;
  place-content: center;
  padding-bottom: 1rem;
}
.sec-intro__intro {
  padding-top: 2rem;
  color: #666;
  font-size: 4rem;
}
.sec-intro__summary {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 2rem;
}
.sec-intro__summary--text-class-style {
  font-weight: 550;
}

p {
  padding: 1rem;
  color: #777;
  transition: 0.2s all ease-out;
}

.sec-keyskills {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.sec-keyskills__div {
  display: grid;
  place-content: center;
  padding-bottom: 1rem;
}
.sec-keyskills__keyskills {
  padding-top: 2rem;
  color: #666;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.td-div {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 35rem);
  grid-gap: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (max-width: 600px) {
  .td-div {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .td-div {
    grid-template-columns: 30rem 30rem;
    grid-gap: 4rem;
    padding: 2rem;
  }
}

.card {
  position: relative;
  height: 12rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card__side {
  height: 12rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px 1px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card__side--front {
  background-image: linear-gradient(to right bottom, #394a51, #394a51, #222831);
}
.card__side--front-text {
  display: grid;
  place-content: center;
  height: 12rem;
  color: #7fa99b;
  font-size: 1.8rem;
}
@media (max-width: 600px) {
  .card__side--front-text {
    font-size: 2rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .card__side--front-text {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .card__side--front::before {
    position: absolute;
    color: #999;
    content: "Click Me";
    font-size: 0.7rem;
    right: 1rem;
    top: 0.5rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .card__side--front::before {
    position: absolute;
    color: #999;
    content: "Click Me";
    font-size: 1rem;
    right: 1rem;
    top: 0.5rem;
  }
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #28b485, #f9bc61);
}
.card__side--back-descp {
  font-size: 1.4rem;
  display: grid;
  place-content: center;
  height: 12rem;
  padding: 1rem;
}
@media (max-width: 600px) {
  .card__side--back-descp {
    font-size: 1.2rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .card__side--back-descp {
    font-size: 1.3rem;
  }
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.sec-tech {
  margin-top: 2rem;
}
.sec-tech__div {
  display: grid;
  place-content: center;
  padding-bottom: 1rem;
}
.sec-tech__techSkills {
  padding-top: 2rem;
  color: #666;
  font-size: 3.5rem;
}
.sec-tech__heading {
  display: grid;
  place-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.sec-tech__card {
  display: grid;
  place-content: center;
  text-align: center;
  grid-gap: 5rem;
  padding: 2rem 7rem 7rem 7rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(0, auto);
  color: #f9bc61;
}
.sec-tech__card--1 {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px 7px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  min-height: 40rem;
  background-color: #222831;
}
.sec-tech__card--2 {
  min-height: 40rem;
  background-color: #222831;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px 7px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (max-width: 600px) {
  .sec-tech__card {
    grid-template-columns: 1fr;
    padding: 3rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .sec-tech__card {
    grid-template-columns: 1fr;
    padding: 3rem;
  }
}
.sec-tech__skills {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 15rem);
  grid-auto-rows: minmax(0, auto);
}
@media (max-width: 600px) {
  .sec-tech__skills {
    grid-template-columns: repeat(2, 12rem);
  }
}
.sec-tech__skill {
  font-size: 2rem;
  color: #28b485;
}
.sec-tech__skill--gap {
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .sec-tech__skill {
    font-size: 1.5rem;
  }
}
.sec-tech__star {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.gallery-container {
  display: grid;
}

.pocDiv {
  display: grid;
  margin: 2rem;
}
.pocDiv__cw {
  font-size: 1.7rem;
  font-weight: 500;
  color: #55c57a;
  margin-bottom: 2.5rem;
}
@media (max-width: 600px) {
  .pocDiv__cw {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
.pocDiv__details {
  font-size: 1.7rem;
  color: #777;
  font-weight: 500;
}
.pocDiv__details--1 {
  margin-bottom: 2rem;
}
.pocDiv__details--2 {
  margin-top: 2rem;
}
.pocDiv__details--3 {
  margin-left: 2.5rem;
}
.pocDiv__details__bulletPoint::marker {
  color: #55c57a;
}
@media (max-width: 600px) {
  .pocDiv__details {
    font-size: 1.3rem;
  }
}

.sec-expe__div {
  display: grid;
  place-content: center;
  padding-bottom: 1rem;
}
.sec-expe__expeSkills {
  padding-top: 2rem;
  color: #666;
  font-size: 3.5rem;
}
.sec-expe__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60rem;
  position: relative;
}
.sec-expe__container--3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .sec-expe__container {
    margin-top: 2rem;
  }
  .sec-expe__container--2 {
    grid-template-rows: 72rem;
  }
  .sec-expe__container--3 {
    grid-template-rows: 77rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .sec-expe__container {
    grid-template-rows: 67rem;
  }
  .sec-expe__container--2 {
    grid-template-rows: 73rem;
  }
  .sec-expe__container--3 {
    grid-template-rows: 82rem;
  }
}
.sec-expe__grid1 {
  display: grid;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem;
  border-top: 3px solid #061326;
}
@media (max-width: 600px) {
  .sec-expe__grid1 {
    margin-left: 0;
    margin-top: 2rem;
    margin-right: 0;
  }
}
.sec-expe__content {
  display: grid;
  margin-left: 7rem;
}
.sec-expe__content__cw {
  font-size: 1.7rem;
  font-weight: 700;
  color: #55c57a;
  margin-bottom: 2.5rem;
}
.sec-expe__content__cw--1 {
  color: #f9bc61;
}
@media (max-width: 600px) {
  .sec-expe__content__cw {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
.sec-expe__content__details {
  font-size: 1.7rem;
  color: #777;
  font-weight: 500;
}
.sec-expe__content__details--1 {
  margin-bottom: 2rem;
}
.sec-expe__content__details--2 {
  margin-top: 2rem;
}
.sec-expe__content__details--3 {
  margin-left: 2.5rem;
}
.sec-expe__content__details__bulletPoint::marker {
  color: #55c57a;
}
@media (max-width: 600px) {
  .sec-expe__content__details {
    font-size: 1.3rem;
  }
}
.sec-expe__content__promoted {
  color: #5643fa;
  font-weight: 700;
}
@media (max-width: 600px) {
  .sec-expe__content {
    margin-left: 3.5rem;
  }
}
.sec-expe__companyLogo--1 {
  height: 10rem;
}
@media (max-width: 600px) {
  .sec-expe__companyLogo--1 {
    height: 7rem;
  }
}
.sec-expe__companyLogo--2 {
  height: 6rem;
  margin-top: 3rem;
}
@media (max-width: 600px) {
  .sec-expe__companyLogo--2 {
    height: 3.5rem;
  }
}
.sec-expe__companyLogo--3 {
  height: 6rem;
  margin-top: 2rem;
}
@media (max-width: 600px) {
  .sec-expe__companyLogo--3 {
    height: 3.5rem;
  }
}
.sec-expe__grid2 {
  position: absolute;
  display: grid;
  left: 8rem;
  width: 20rem;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 55rem;
  border-left: 3px solid #061326;
}
.sec-expe__grid2--2 {
  grid-template-rows: 58rem;
}
.sec-expe__grid2--3 {
  grid-template-rows: 60rem;
}
@media (max-width: 600px) {
  .sec-expe__grid2 {
    left: 1.7rem;
    grid-template-rows: 57rem;
  }
  .sec-expe__grid2--2 {
    grid-template-rows: 69rem;
  }
  .sec-expe__grid2--3 {
    grid-template-rows: 79rem;
  }
}
@media ((min-width: 600px) and (max-width: 1250px)) {
  .sec-expe__grid2 {
    grid-template-rows: 62rem;
  }
  .sec-expe__grid2--2 {
    grid-template-rows: 71rem;
  }
  .sec-expe__grid2--3 {
    grid-template-rows: 81rem;
  }
}
.sec-expe__box {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 7.1rem;
  top: 3rem;
  background-color: #061326;
}
@media (max-width: 600px) {
  .sec-expe__box {
    left: 1.1rem;
    top: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.gallery {
  display: grid;
  margin-top: 4rem;
  grid-column: full-start/full-end;
  grid-template: repeat(15, 5vw)/repeat(8, 1fr);
  background-color: #faf9f6;
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
@media (max-width: 600px) {
  .gallery {
    grid-gap: 0.2rem;
    margin-bottom: 2rem;
  }
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/-1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/-1;
}
.gallery__item--15 {
  grid-row: 8/span 3;
  grid-column: 1/span 3;
}
.gallery__item--16 {
  grid-row: 8/span 2;
  grid-column: 4/span 2;
}
.gallery__item--17 {
  grid-row: 8/span 2;
  grid-column: 6/7;
}
.gallery__item--18 {
  grid-row: 8/span 2;
  grid-column: 7/-1;
}
.gallery__item--19 {
  grid-row: 11/span 2;
  grid-column: 1/span 2;
}
.gallery__item--20 {
  grid-row: 11/13;
  grid-column: 3/4;
}
.gallery__item--21 {
  grid-row: 10/span 3;
  grid-column: 4/span 2;
}
.gallery__item--22 {
  grid-row: 10/span 2;
  grid-column: 6/span 2;
}
.gallery__item--23 {
  grid-row: 10/span 3;
  grid-column: 8/-1;
}
.gallery__item--24 {
  grid-row: 13/span 2;
  grid-column: 1/3;
}
.gallery__item--25 {
  grid-row: 13/span 3;
  grid-column: 3/6;
}
.gallery__item--26 {
  grid-row: 12/span 1;
  grid-column: 6/8;
}
.gallery__item--27 {
  grid-row: 13/span 3;
  grid-column: 6/7;
}
.gallery__item--28 {
  grid-row: 13/span 3;
  grid-column: 7/9;
}
.gallery__item--29 {
  grid-row: 15/span 1;
  grid-column: 1/3;
}
.gallery__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem;
}

.nav-navbar {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(22, 22, 23, 0.8);
  text-align: center;
  padding: 1.5rem 0;
}
.nav-navbar__details:visited, .nav-navbar__details:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 450;
  margin-left: 4rem;
}
@media (max-width: 600px) {
  .nav-navbar__details:visited, .nav-navbar__details:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: 450;
    margin-left: 4rem;
  }
}

.ind-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem;
}

.ind-nav-navbar {
  display: block;
  position: static;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 0.5rem 0;
}
.ind-nav-navbar__details {
  height: 5rem;
}

.main-div {
  margin-top: 2rem;
  display: grid;
  place-content: center;
}

/*# sourceMappingURL=style.css.map */
